$black: #000;
$blue: #00788c;
$yellow: #ffc827;
$white: #fff;

@mixin hidden {
  opacity: 0;
  transform: translateY(-200%);
  z-index: -5;
}

@mixin visible {
  opacity: 1;
  transform: translateY(0);
  z-index: 10;
}

@keyframes slideDown {
  0% { @include hidden }
  100% { @include visible }
}

@keyframes slideUp {
  0% { @include visible }
  100% { @include hidden }
}

nav {
  background-color: $blue;
  display: flex;
  position: relative;

  a {
    color: $white;
    padding: 15px;
    text-decoration: none;

    &:hover {
      background-color: darken($blue, 1%);
    }
  }

  .desktop-links {
    display: none;
  }

  .logo {
    align-items: center;
    background-color: $yellow;
    color: $black;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
    position: relative;
    text-align: center;
    width: 60vw;

    &::after {
      background-color: $yellow;
      clip-path: polygon(0 0, 0% 100%, 100% 50%);
      content: '';
      height: 100%;
      position: absolute;
      right: -29px;
      top: 0;
      width: 30px;
    }
  }

  .menu {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-grow: 1;
    font-size: 2em;
    justify-content: flex-end;
    margin: 15px;
  }

  .mobile-links {
    background-color: $blue;
    bottom: -144px;
    display: flex;
    flex-direction: column;
    left: 0;
    position: absolute;
    right: 0;
  }

  .router-link-exact-active {
    color: $yellow;
  }
}
