@import './colors';

.nav-links {
  background-color: $blue;
  display: flex;
  flex-direction: column;

  a {
    border: 3px solid transparent;
    color: $white;
    padding: 15px;
    position: relative;
    text-decoration: none;

    &:hover {
      background-color: darken($blue, 1%);
    }

    &:focus {
      outline: 0;
      border-left: 3px solid $yellow;
    }
  }

  .router-link-exact-active {
    color: $yellow;
  }

  @media (min-width: 700px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    position: initial;

    a {
      align-items: center;
      display: flex;
      height: 93%;
      padding: 0 15px;

      &:focus {
        border-bottom: 3px solid $yellow;
        border-left: 3px solid transparent;
      }
    }
  }
}
